* text=auto eol=lf

# frontend codes
*.{js,ts,vue} text eol=lf encoding=utf-8
*.{css,scss,sass} text eol=lf encoding=utf-8
*.html text eol=lf encoding=utf-8

# scripts
*.sh text eol=lf encoding=utf-8
*.{ps1,bat} text eol=crlf

# config
*.{yml,yaml} text eol=lf encoding=utf-8
*.toml text eol=lf encoding=utf-8
*.json text eol=lf encoding=utf-8

# text files
*.{md,txt} text eol=lf encoding=utf-8

# images
*.{png,jpg,jpeg,gif,ico,tiff,bmp} binary

# data
*.npz binary
